[submodule "dawn"]
	path = dawn
	url = https://dawn.googlesource.com/dawn
	branch = chromium/7339 # Chrome 140
	shallow = true
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
